<a href="https://colab.research.google.com/github/anudeeplearning/Market-Risk/blob/main/hybrid_var.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Collecting lxml>=4.5.1
  Downloading lxml-4.9.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 11.8 MB/s
Collecting requests>=2.26
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.9 MB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.5.18.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.9.0 requests-2.27.1 yfinance-0.1.70

In [ ]:
import yfinance as yf, numpy as np, pandas as pd, datetime as dt, matplotlib.pyplot as plt, scipy.stats as scs

In [ ]:
tickers = ['AAPL', 'FB', 'C','DIS','F','MSFT','MS','GME','TSLA','AMZN']
weights = np.array(10*[0.1])
lamda=.94

In [ ]:
start = dt.datetime(2019,1,1)
end=dt.datetime.now()

df=yf.download(tickers,start,end)['Adj Close']
df

In [ ]:
returns = df.pct_change()

In [ ]:
portfolio_returns = returns @ weights

In [ ]:
df = portfolio_returns.to_frame()

In [ ]:
days_size = len(portfolio_returns)
df['days'] = np.array(range(days_size))

In [ ]:
ewma = [0]*days_size
for i in range(days_size):
  ewma[i]=(1-lamda)*(lamda)**i

In [ ]:
df

                   0  days
Date
2020-03-16 -0.123834   302
2020-03-12 -0.104239   300
2020-03-09 -0.090666   297
2020-06-11 -0.077275   363
2020-03-18 -0.067712   304
...              ...   ...
2020-03-13  0.110393   301
2021-01-27  0.112020   521
2021-02-24  0.120245   540
2020-03-24  0.127444   308
2019-01-02       NaN     0

[862 rows x 2 columns]

In [ ]:
ewma

In [ ]:
df=df.sort_values(by=[0])

In [ ]:
df

                   0  days        hybrid
Date
2020-03-16 -0.123834   302 -1.497475e-10
2020-03-12 -0.104239   300 -1.186028e-10
2020-03-09 -0.090666   297 -9.415033e-11
2020-06-11 -0.077275   363 -5.990783e-10
2020-03-18 -0.067712   304 -8.702420e-11
...              ...   ...           ...
2020-03-13  0.110393   301  1.294888e-10
2021-01-27  0.112020   521  1.068581e-07
2021-02-24  0.120245   540  2.046050e-07
2020-03-24  0.127444   308  1.850163e-10
2019-01-02       NaN     0           NaN

[862 rows x 3 columns]

In [ ]:
days_size

862

In [ ]:
len(df)

862

In [ ]:
df['hybrid'] = np.array([0.1]*days_size)

In [ ]:
df.iloc[1,1]=1

In [ ]:
for i in range(days_size):
  numb = days_size - df.iloc[i,1]-1
  df.iloc[i,2] = float(ewma[numb])

In [ ]:
df['cumm_hybrid'] = [0.1]*days_size
df.iloc[0,3]=df.iloc[0,2]

In [ ]:
for i in range(1,days_size):
  numb = df.iloc[i,2]
  df.iloc[i,3] = df.iloc[i,2]+df.iloc[i-1,3]

In [ ]:
df

                   0  days        hybrid   cumm_hybrid
Date
2020-03-16 -0.123834   302  5.709807e-17  5.709807e-17
2020-03-12 -0.104239   300  5.045185e-17  1.075499e-16
2020-03-09 -0.090666   297  4.190450e-17  1.494544e-16
2020-06-11 -0.077275   363  2.487839e-15  2.637294e-15
2020-03-18 -0.067712   304  6.461981e-17  2.701914e-15
...              ...   ...           ...           ...
2020-03-13  0.110393   301  5.367218e-17  1.000000e+00
2021-01-27  0.112020   521  4.381486e-11  1.000000e+00
2021-02-24  0.120245   540  1.419686e-10  1.000000e+00
2020-03-24  0.127444   308  8.276644e-17  1.000000e+00
2019-01-02       NaN     0  4.377571e-25  1.000000e+00

[862 rows x 4 columns]

In [ ]:
confidence_interval = 0.01

In [ ]:
ans=0

In [ ]:
for i in range(days_size):
  if df.iloc[i,3]>=confidence_interval:
    print (df.iloc[i,0])
    ans=df.iloc[i,0]
    break

-0.05480138092457617

In [ ]:
num_days=10
var_reg = ans*(num_days)**(1/2)
var_reg

-0.1732971826441648

The regulary VaR using hybrid method is calculated as 99%VaR is 10*1day 99%VaR which is 17.32 when compared to 16.48% calculated from historical simulation method. Hybrid VaR reacts better to market changes when compared to historical VaR and thus has better performance and lower number of violations